# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
res/HAM.csv
res/HAMn.csv
res/JWINK.csv
res/JWINKn.csv
res/LEV.csv
res/LEVn.csv
res/NAME.csv
res/NAMEn.csv
res/simMat.csv

data/c-i-Frozen.csv
data/c-i-Baby.csv
data/c-i-Bread-A-Bakery.csv
data/c-i-Dairy-Eggs-A-Meals.csv
data/c-i-Drinks.csv
data/c-i-Fruit-A-Vegetables.csv
data/c-i-Liquor.csv
data/c-i-Meat-Seafood-A-Deli.csv
data/c-i-Pantry.csv
data/w-i-Baby.csv
data/w-i-Bakery.csv
data/w-i-Dairy-Eggs-A-Fridge.csv
data/w-i-Drinks.csv
data/w-i-Freezer.csv
data/w-i-Fruit-A-Veg.csv
data/w-i-Liquor.csv
data/w-i-Lunch-Box.csv
data/w-i-Meat-Seafood-A-Deli.csv
data/w-i-Pantry.csv
res/Bread-A-Bakery/simMat.csv
res/Matches.csv
res/unmatchedItems.csv
res/Baby/HAMn.csv
res/Baby/JWINKn.csv
res/Baby/LEVn.csv
res/Baby/NAMEn.csv
res/Baby/simMat.csv
res/Bread-A-Bakery/HAMn.csv
res/Bread-A-Bakery/JWINKn.csv
res/Bread-A-Bakery/LEVn.csv
res/Bread-A-Bakery/NAMEn.csv
res/Dairy-Eggs-A-Meals/HAMn.csv
res/Dairy-Eggs-A-Meals/JWINKn.csv
res/Dairy-Eggs-A-Meals/LEVn.csv
res/Dairy-Eggs-A-Meals/NAMEn.csv
res/Dairy-Eggs-A-Meals/simMat.csv
res/Drinks/HAMn.csv
res/Drinks/JWINKn.csv
res/Drinks/LEVn.csv
res/Drinks/NAMEn.csv
res/Drinks/simMat.csv
res/Frozen/simMat.csv
res/Frozen/HAMn.csv
res/Frozen/JWINKn.csv
res/Frozen/LEVn.csv
res/Frozen/NAMEn.csv
res/Fruit-A-Vegetables/HAMn.csv
res/Fruit-A-Vegetables/JWINKn.csv
res/Fruit-A-Vegetables/LEVn.csv
res/Fruit-A-Vegetables/NAMEn.csv
res/Fruit-A-Vegetables/simMat.csv
res/Lunch-Box/JWINKn.csv
res/Liquor/HAMn.csv
res/Liquor/JWINKn.csv
res/Liquor/LEVn.csv
res/Liquor/NAMEn.csv
res/Liquor/simMat.csv
res/Lunch-Box/HAMn.csv
res/Lunch-Box/LEVn.csv
res/Lunch-Box/NAMEn.csv
res/Lunch-Box/simMat.csv
res/Meat-Seafood-A-Deli/HAMn.csv
res/Meat-Seafood-A-Deli/JWINKn.csv
res/Meat-Seafood-A-Deli/LEVn.csv
res/Meat-Seafood-A-Deli/NAMEn.csv
res/Meat-Seafood-A-Deli/simMat.csv
res/Pantry/HAMn.csv
res/Pantry/JWINKn.csv
res/Pantry/LEVn.csv
res/Pantry/NAMEn.csv
res/Pantry/simMat.csv
